@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
}